
@{
    ViewBag.Title = "Şifremi Unuttum";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            <form>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2>Şifremi Unuttum</h2>
                        <small style="color:red;">@ViewBag.MyError</small> <br />
                        <small>Lütfen E-Posta Adresinizi Giriniz.</small>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <input type="email" name="email" id="email" placeholder="e-posta" class="form-control" />
                        </div>

                    </div>
                    <div class="panel-footer text-right">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-send"></span> Gönder
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

}
