@model UdemyETicaret.Models.Account.LoginModels
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2>Giriş</h2>
                    <small style="color:red;">@TempData["Info"]</small> <br />
                   @if (ViewBag.ReError != null && string.IsNullOrEmpty((string)ViewBag.ReError) == false)
                   {
                    <small style="color:red;">@ViewBag.ReError</small>
                   }
                   else
                   {
                    <small>Lütfen e-posta ve şifrenizi giriniz.</small>
                   }
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <center>
                            <img src="~/images/account.png" class="img-circle img-responsive" style="width:125px" />
                        </center>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Member.Email, new { @class = "form-control", placeholder = "e-mail address", type = "email" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Member.Password, new { @class = "form-control", placeholder = "password", type = "password" })
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <a href="~/Account/ForgotPassword" class="btn btn-warning">
                        <span class="glyphicon glyphicon-asterisk"></span> Şfremi Unuttum
                    </a>
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </button>

                </div>
            </div>
        }
    </div>
</div>